:root {
  font-size: 16px;
}

body {
  box-sizing: border-box;
}

.keyboard {
  max-width: 800px;
  margin: 0 auto;
}
.keyboardRow { 
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .key { 
    color: #111;
    background: #fff;
    box-shadow: .2rem .1rem .3rem rgba(0,0,0,.3);
    display:inline-block;
    border:1px solid #ccc;
    padding:1.5rem;
    margin: .5rem .3rem;
    min-width: 2rem;
    font-size: 1.6rem;
  }
  
.selected {
  animation-duration: 1.5s;
  animation-name: showem;
}

h1 {
  text-align: center;
  font-size: 2.4rem;
}
.input {
  max-width: 800px;
  margin: 5rem auto;
  text-align: center;
}
input[type=text] {
  width: 70%;
  padding: 1.5rem;
  border: 1px solid #ccc;
  margin-top: 1.5rem;
  font-size: 1.6rem;
  color: #666;
}

.submit-guess {
  width: 20%;
  border: 1px solid #ccc;
  background: green;
  color: white;
  font-size: 1.6rem;
  padding: 1.5rem;
  margin-left:-5px;
  transition: .4s ease all;
}
  .submit-guess :hover {
    background: darkgreen;
    cursor: pointer;
    box-shadow: .1rem .1rem .5rem rgba(0,0,0,.5);
  }


.next-round {
  width: 75%;
  font-size: 1.6rem;
  padding: 1.5rem;
  margin: 5rem auto;
  background: #02456B;
  color: #fff;
  text-align: center;
  transition: .4s ease all;
}
  .next-round :hover {
    background: darkblue;
    cursor: pointer;
    box-shadow: .1rem .1rem .5rem rgba(0,0,0,.5);
  }

@keyframes showem {
  from {
    background: #02456B;
    color: #fff;
    box-shadow: 0;
  }

  to {
    background: #fff;
    color: #111;
    box-shadow: .2rem .1rem .3rem rgba(0,0,0, .3);
  }
}